---
import Layout from "../layouts/Layout.astro";
import SimpleLayout from "../components/SimpleLayout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import CardTitle from "../components/CardTitle.astro";
import CardDescription from "../components/CardDescription.astro";
---

<Layout 
  title="Uses - Sankalp Mukim" 
  description="Software I use, gadgets I love, and other things I recommend."
>
  <SimpleLayout
    title="Software I use, gadgets I love, and other things I recommend."
    intro="I get asked a lot about the things I use to build software, stay productive, or buy to fool myself into thinking I'm being productive when I'm really just procrastinating. Here's a big list of all of my favorite stuff."
  >
    <div class="space-y-20">
      <Section title="Workstation">
        <ul role="list" class="space-y-16">
          <Card as="li">
            <CardTitle as="h3">
              HP Pavilion Gaming 15, Ryzen 4500, 16GB RAM (2021)
            </CardTitle>
            <CardDescription>
              I was using an Intel-based 15" Acer Nitro 5 prior to this and the
              difference is night and day. I am able to work with a peace of
              mind that my main weapon of choice is going to be available and
              sharp at all times.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              BenQ GW2480T 24 inch (60cm) 1920 X 1080
            </CardTitle>
            <CardDescription>
              The best option in the market in these specs. I have been using
              this monitor for over a year now and it has been a great. It makes
              me faster and more productive.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              Redgear Shadow Blade Mechanical Keyboard
            </CardTitle>
            <CardDescription>
              They don't make keyboards the way they used to. I buy these any
              time I see them go up for sale and keep them in storage in case I
              need parts or need to retire my main.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              Logitech G102 LightSync Gaming Mouse
            </CardTitle>
            <CardDescription>
              Great mouse for the price. Super accurate and comfortable for
              usage for long periods of time.
            </CardDescription>
          </Card>
        </ul>
      </Section>
      
      <Section title="Development tools">
        <ul role="list" class="space-y-16">
          <Card as="li">
            <CardTitle as="h3">
              Visual Studio Code
            </CardTitle>
            <CardDescription>
              I am extremely fast with VS Code. I have tried other editors but I
              always come back to VS Code. I have been using it for over 3
              years. I have been trying to get back to learning Vim but I am
              just too comfortable with VS Code.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              Fish
            </CardTitle>
            <CardDescription>
              I have been using Fish for over a year now. I have tried Zsh and
              Bash but I always come back to Fish. It is just too good. It's
              simple, fast and easy to use. I was skeptical initially about
              leaving bash language but I am glad I did. Fish's ecosystem is
              extremely strong and rich with packages.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              GitHub cli tool
            </CardTitle>
            <CardDescription>
              The GitHub CLI is an incredibly underrated productivity tool. I
              use it for everything from creating new repos to opening issues
              and pull requests. It's a great way to stay in the terminal and
              still be able to do all of the things I need to do on GitHub.
            </CardDescription>
          </Card>
        </ul>
      </Section>

      <Section title="Design">
        <ul role="list" class="space-y-16">
          <Card as="li">
            <CardTitle as="h3">
              Figma
            </CardTitle>
            <CardDescription>
              We started using Figma as just a design tool but now it's become
              our virtual whiteboard for the entire company. Never would have
              expected the collaboration features to be the real hook.
            </CardDescription>
          </Card>
        </ul>
      </Section>

      <Section title="Productivity">
        <ul role="list" class="space-y-16">
          <Card as="li">
            <CardTitle as="h3">
              Microsoft Todo
            </CardTitle>
            <CardDescription>
              It just works. Very very simple. Works across multiple devices so
              I can do research on my phone, I can create tasks on their app and
              their widget is great. I work with Trello for work but for my
              personal projects I use Microsoft Todo.
            </CardDescription>
          </Card>
          <Card as="li">
            <CardTitle as="h3">
              Spotify
            </CardTitle>
            <CardDescription>
              Good music is a must for me to be productive. I listen to Guitar
              LoFi music. It helps me focus and get into the zone.
            </CardDescription>
          </Card>
        </ul>
      </Section>
    </div>
  </SimpleLayout>
</Layout>